html,body{
    height: 100%;
}

.col{
    padding: 0 !important;
}

.header-wrap, .header-wrap  > .col {
    height: 55px;
}

.heading-wrap, .heading-wrap > .col {
    height: 54px;
}

.content-body {
    height: 100%;
    overflow: hidden;
}

.content-wrap{
    /*padding-top: 109px;*/
    /*margin-top: -109px;*/
    /*box-sizing: border-box;*/
    /*overflow: hidden;*/
}

.col-full-height{
    overflow-y: scroll;
    height: 100%;
}

/*.content-wrap, .col-full-height {*/
    /*height: 100%;*/
/*}*/

.menu-search{
    padding: 10px 15px;
}