<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gello</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/vendor/semantic/dist/semantic.min.css}"/>
    <script type="text/javascript" th:inline="javascript">
        (function (window) {
            window.appInfo = {
                contextPath: /*[[${#httpServletRequest.contextPath}]]*/ ''
            }
        })(window);
    </script>
    <style>
        #header {
            background: #000;
            color: #fff;
            /*padding: 20px 20px 20px 260px;*/
            margin: 0;
            left:260px;
            width: 100%;
        }



        /*@media (min-width: 780px) {*/
            /*.stickyHeader {*/
                /*position: fixed;*/
            /*}*/
        /*}*/
    </style>
</head>
<body id="body">
<header id="header" class="ui sticky fixed top">
    Some header
</header>
<div id="menu" class="ui sidebar visible inverted left vertical menu">
    <a class="item">
        Item 1
    </a>
    <a class="item">
        Item 2
    </a>
    <a class="item">
        Item 3
    </a>
</div>
<div class="pusher" id="content">

    <div  ng-controller="MainController" style="padding: 10px 20px">
        <div ng-bind="greeting"></div>
        <div>User loaded: <span ng-bind="user.username"></span></div>

        <div>
            <input type="text" name="userName" ng-model="username"/>
            <input type="password" name="password" ng-model="password"/>
            <button type="button" ng-click="login()">Login</button>
            <button type="button" ng-click="userSvc.logout()">Logout</button>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            End text
        </div>

        <!--greeting text-->
    </div>
</div>


</body>
<script type="text/javascript" th:src="@{static/js/bundle.js}"
        th:if="${#arrays.contains(@environment.getActiveProfiles(),'dev')}"></script>
<script type="text/javascript" th:src="@{static/js/bundle.min.js}"
        th:if="${#arrays.contains(@environment.getActiveProfiles(),'prod')}"></script>
</html>